.anime-card-container {
    margin: 9px;

}

.anime-card-paper {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.anime-card-paper:hover {
    background-color: lightgray;
    opacity: .8;
}